.playarea{
    height: 50%;
}

.container-fluid{
    
height: 100%;
}
#plate{

  position:relative;
    right:0%;
  max-width:600px;
  height:100%;
}
.spot{
      position:relative;
 
}
.spot div {
  width: 20%;
}
#spot1{
    position:absolute;
  left:43%;
  top:80px;

 
}
#spot2{
  position:absolute; 

  left:43%;
  top:90px;
}
#spot3{
  position:absolute;

  left:45%;
  top: 40px;
  
}
#spot4{
  position:absolute;

  left:45%;
  top:60px;
}
#spot5{
  position:absolute;

  left:45%;
   top:120px;
}
#spot6{
  position:absolute;
  left:45%;
  top:140px;
}



#plate .image-responsive { display: block; }
.image-responsive{
    width: 100%;
    max-width: 100%;
  
}
.ingredients{
    width: 70px;
    height: 70px;
}

body{
    background-image: url("http://previews.123rf.com/images/stolenpencil/stolenpencil1506/stolenpencil150600007/41960701-Sushi-and-rolls-seamless-pattern-on-white-background-Stock-Vector.jpg");
    background-size:500px 500px;
}
#result{
    display:none;
}

#result img{
    display:none;
    max-width:600px;
}
